{% extends "base.html" %}

{% block titulo %}
{{pestaña}}
{% endblock %}

{% block contenido %}

<div class="container-fluid p-5 ">
    <div class="card">
        <div class="card-header">
            <h2>
                <center>{{titulo}}</center>
            </h2>
        </div>
        <div class="card-body">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Precio</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
        
                    {% for transporte in object_list %}
                    <tr>
                        <td>{{ transporte.tipotransporte }}</td>
                        <td>{{ transporte.preciotransporte }}</td>
                        <td>{{ transporte.descripciontransporte }}</td>
                        <td><a href=" {% url 'editartransporte' transporte.idtransporte %}" class="btn btn-primary"><i
                            class="fa-solid fa-pen"></i></a></a>
                        <a href=" {% url 'eliminartransporte' transporte.idtransporte %}" class="btn btn-danger"><i
                            class="fa-solid fa-trash-can"></i></a></td>
        
                    </tr>
        
                    {% endfor %}
        
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{% url 'crearcliente' %}" class="btn btn-primary" role="button"><i class="fa-solid fa-plus"></i>  Nuevo Transporte</a>
        </div>
    </div>
</div>

{% endblock %}