{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

    <!-- Sweet Alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Iniciar Sesión</title>
</head>

<body>
    <section>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 col-sm-7 col-md-6 m-auto">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <svg class="rounded mx-auto d-block my-3" xmlns="http://www.w3.org/2000/svg" width="50"
                                height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            <h5>
                                <center>{{titulo}}</center>
                            </h5>
                            {% if msg %}
                            <aside style="color: red;">
                                <center>{{msg}}</center>
                            </aside>
                            {% endif %}
                            <form action="." method="POST">
                                <input type="hidden" name="next" value="{{ next }}">
                                {% csrf_token %}
                                <!-- <input type="text" name="user" id="" class="form-control my-4 py-2"
                                    placeholder="Username" />
                                <input type="password" name="password" id="" class="form-control my-4 py-2"
                                    placeholder="Password" /> -->
                                <input type="text" class="form-control my-4 py-2" name="username" autofocus="" autocapitalize="none"
                                    autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Usuario">
                                <input type="password" class="form-control my-4 py-2" name="password" autocomplete="current-password" required=""
                                    id="id_password" placeholder="Contraseña">

                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                    <!-- <a href="#" class="nav-link">Registrese Ahora</a> -->
                                </div>
                            </form>
                        </div>



                        <script type="text/javascript">
                            {%if form.errors %}
                            // var errors = '';

                            // {% for field in form %}
                            //     {% for error in field.errors %}
                            //     errors += '{{ error }} \n'
                            //     {% endfor %}
                            // {% endfor %}

                            // {% for error in form.non_field_errors  %}
                            // errors += '{{ error }} \n'
                            // {% endfor %}

                            Swal.fire({
                                title: "Datos Incorrectos",
                                text: "Ingrese los datos nuevamente",
                                type: "warning",
                                icon: 'error',
                                width: '39%',
                                // background: '#f7fff7',
                                allowOutsideClick: false,
                                confirmButton: 'Aceptar',
                                confirmButtonColor: '#007bff',
                            });


                            {% endif %}
                        </script>





                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

</body>

</html>