{% extends "base.html" %}

{% block titulo %}
lista de destinos turisticos
{% endblock %}

{% block contenido %}
contenido del destino turistico
<p> <a href="{% url 'creardestinoturistico' %}" class="btn btn-primary" role="button">Agregar nuevo destino turistico</a> </p> 

<table class="table table-striped table-dark">
    <thead>
        {% for dest in destino %}
      <tr>
        <th >{{ dest.iddestino }}</th>
        <th >{{ dest.nomdestino }}</th>
        <th >{{ dest.preciodestino }}</th>
        <th>
          <img src="{{ dest.multimedia.url }}" height="50">
        </th>


        <th>{{ dest.direcllegada }}</th>
        <th>{{ dest.descripciondes }}</th>
        <th>{{ dest.horario_viaje }}</th>

        <td>
          <a name="" id="" class="btn btn-info" href="{% url 'editardestinoturistico' dest.iddestino %}" role="button">Editar</a>
          <a name="" id="" class="btn btn-danger" href="{% url 'eliminardestino' dest.iddestino %}" role="button">Eliminar</a>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
