{% extends "base.html" %}

{% block titulo %}
{{pestaña}}
{% endblock %}

{% block contenido %}
<form method="POST" action="">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{titulo}}
            </h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <div class="alert alert-danger">
                <strong>Eliminar Registro</strong> <br>
                Estas seguro de eliminar el registro nro: {{object.idcliente}}
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">{{btnsi}}</button>
            <a href=" {{list_url}}" type="button" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</form>



{% endblock %}