{% extends "base.html" %}

{% block titulo %}
{{pestaña}}
{% endblock %}

{% block contenido %}

<div class="container mt-3">
    <h2>{{titulo}}</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Dirección</th>
                <th>Celular</th>
                <th colspan="2">Opciones</th>
            </tr>
        </thead>
        <tbody>

            {% for cliente in object_list %}
            <tr>
                <td>{{ cliente.nombrecliente}}</td>
                <td>{{ cliente.apellidoscliente }}</td>
                <td>{{ cliente.edadcliente }}</td>
                <td>{{ cliente.direccioncliente }}</td>
                <td>{{ cliente.celularcliente }}</td>
                <td><a href="{% url 'editarcliente' cliente.idcliente %}" class="btn btn-success">Editar</a></td>
                <td><a href="{% url 'eliminarcliente' cliente.idcliente %}" class="btn btn-danger">Eliminar</a></td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<a href="{% url 'crearcliente' %}" class="btn btn-primary" role="button">Nuevo CLiente (Solo para Pruebas)</a>
{% endblock %}